:root {
  --main-font: 'Open Sans', sans-serif;
  --secondary-font: 'Raleway', sans-serif;

  /* text colors */
  --main-txt-cl: #303030;
  --accent-txt-cl: #ff6c00;
  --btn-txt-cl: #ffffff;

  /* bg colors */
  --light-bg-cl: #f7f7f7;
  --dark-bg-cl: #191c26;
}

body {
  font-family: var(--main-font);
  color: var(--main-txt-cl);
}

.no-scroll {
  overflow: hidden;
}

/* reset styles */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
img {
  display: block;
}
.link {
  text-decoration: none;
  color: currentColor;
}
.list {
  list-style: none;
  padding: 0;
  margin: 0;
}
